.input {
  width: 100%;
  height: 3rem;
  padding: 1rem;

  border-radius: 8px;
  color: var(--gray-100);
  background: var(--gray-700);
  border: 1px solid transparent;
}

.input:focus,
.input:focus-within {
  border-color: var(--blue-mid);
}
