.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  border-radius: 8px;
  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-500);
}

.container img {
  height: 3.5rem;
  margin-bottom: 1rem;
}

.container strong {
  margin-bottom: 0.25rem;
}
