:root {
  --white: #ffffff;
  --blue-500: #3346b0;
  --blue-secondary: #4ea9de;

  --text: #e7e6eb;

  --gray-100: #918ea3;
  --gray-200: #7f7c8f;
  --gray-300: #6d6a7a;
  --gray-400: #5b5966;
  --gray-500: #494752;
  --gray-600: #36353d;
  --gray-700: #2d2c33;
  --gray-800: #242329;
  --gray-900: #17161a;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
