:root {
  --white: #ffffff;
  --blue-light: #528fff;
  --blue-mid: #4a80e5;
  --blue-dark: #3e6bbf;

  --gray-100: #e1e3e5;
  --gray-200: #c4c7cc;
  --gray-300: #8d9199;
  --gray-400: #7c818a;
  --gray-500: #505359;
  --gray-600: #323438;
  --gray-700: #292b2e;
  --gray-800: #202124;
  --gray-900: #121314;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-mid);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
